/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {
	padding: 0;
	margin: 0;
	width: 100%;
}

header {
	width: 100%;
	position: fixed;
	z-index: 1;
}

.header {
	width: 100%;
	height: 90px;
	-webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.15);
	        box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
}

.categories {
	width: 531px;
	font-family: 'Roboto',sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.05px;
	word-spacing: 10px;
	margin: auto;
	margin-right: 10%;
	position: relative;
}

.header a, .navigation a{
	font-family: 'Roboto',sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: #777777;
}

a:hover {
	color: #000000;
	cursor: pointer;
}

a.active {
	color: #000000;
}

.img{
	vertical-align: middle;
	width: 20px;
	height: 1px;
	background-color: #06060a;
}

.logo{
	height: 35px;
	width: 131px;
	position: relative;
	left: 10%;
	top: 28px;
}

.footer {
	padding: 64px 0 47px 0;
	-webkit-box-shadow: 0 -3px 5px 1px rgba(163, 163, 163, 0.1);
	        box-shadow: 0 -3px 5px 1px rgba(163, 163, 163, 0.1);
	z-index: 1;
	/* box-sizing: content-box; */
}

.footer img {
	display: block;
	margin: 0 auto 44px auto;
}

.footer .social_networks {
	padding: 25px 0;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}

.footer .social_networks div{
	width: 700px;
	margin: auto;
}

.footer .social_networks a {
	margin: 0 41px;
	color: grey;
}

.footer .social_networks a:last-child {
	margin-right: 0;
}

.footer .social_networks a:hover{
	color: black;
}

.footer .copyright {
	margin: 0;
	padding: 0;
	color: #9c9c9c;
	font-family: Roboto, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 37px;
	cursor: default;
}

.footer .copyright span {
	color: #000;
}

.menu {
	position: fixed;
	right: 0;top: 0;
	z-index: 399;
	width: 30%;
	height: 100vh;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: #fff;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	        transform: translateX(100%);
	display: none;
  }

.menu_active {
	-webkit-transform: translateX(0%);
	    -ms-transform: translateX(0%);
	        transform: translateX(0%);
  }

.menu-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 50%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
  }
  
.menu-list a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
	font-family: 'Roboto',sans-serif;
	color: #777777;
  }

.menu-list a:hover {
	color: #000000;
	cursor: pointer;
  }

.menu-btn {
	width: 60px;
	height: 60px;
	position: absolute;
	left: -100px;
	top: 27px;
  }

.menu-btn .l1, .menu-btn .l2, .menu-btn .l3 {
	border-top: 3px solid black;
	margin-top: 14px;
}

.menu-btn .l1 {
	margin: 0;
}

@media screen and (max-width: 1173px) {
	br {
		display: none;
	}

	.categories {
		display: none;
	}

	.founders_section {
		width: 358px;
	}

	.founders_section .section {
		margin: 0;
	}

	.founders_section .section.s2,  .founders_section .section.s3 {
		margin-top: 74px;
	}
	.footer .social_networks div {
		width: 300px;
	}

	.footer .social_networks div i{
		margin-right: -65px;
	}

	.menu {
		display: block;
	}

	.wrapper .slider .next, .wrapper .slider .prev {
		display: none;
	}

	.wrapper .slider .slide .slider_content h1 {
		font-size: 35px;
		font-weight: 300;
		letter-spacing: 2.8px;
		text-align: center;
		width: 540px;
		padding: 4px 0 4px 0;		
	}

	.wrapper .slider .slide .slider_content p {
		width: 385px;
		font-size: 16px;
		font-weight: 300;
		letter-spacing: 5.2px;
	}
}